.radial-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 50%;
    width: 0;
    height: 0;
    overflow: hidden;
    transition:
        width 0.5s,
        height 0.5s,
        transform 0.5s;
    transform-origin: right center;
    transform: translateX(-100%) scaleY(0);
    z-index: 1;
}

.radial-menu button {
    color: #fff;
    border: none;
    font-size: 24px;
    margin: 10px 70px 0px 0px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.5s;
}

.fa-wheelchair {
    font-size: 3.5rem;

}

.sidebar {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateX(5%);
    border: 2px solid white;
    z-index: 2;
}

.sidebar button {
    background-color: var(--main-color);
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    z-index: 3;
    position: relative;
    border: none;
}

.radial-menu.show {
    width: 200px;
    height: 200px;
    transform: translateX(-52%) translateY(-58%) scaleY(1);
    border: 2px solid white;
    z-index: 2;
    margin-top: -10px;
}

.radial-menu.show button {
    transform: rotate(360deg);
}

.sidebar {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}

.monocromatico {
    filter: grayscale(100%);
}

@keyframes pulseOutline {

    0%,
    100% {
        outline: 2px dashed red;
    }

    50% {
        outline: 4px dashed red;
    }
}